@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}

.nav-link:hover,
.nav-link.active {
  color: #fff;
}
@keyframes pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 15px rgba(96, 165, 250, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 30px rgba(96, 165, 250, 1));
  }
}

@keyframes glow {
  0%,
  100% {
    stroke-opacity: 0.7;
    filter: drop-shadow(0 0 5px rgba(147, 197, 253, 0.7));
  }
  50% {
    stroke-opacity: 1;
    filter: drop-shadow(0 0 15px rgba(147, 197, 253, 1));
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 15px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-15px, 20px);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(15px, -15px);
  }
}

@keyframes scroll-dot {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
}

/* Apply animation classes */

.animate-pulse {
  animation: pulse 5s infinite ease-in-out alternate;
}

.animate-glow {
  animation: glow 3s infinite ease-in-out alternate;
}

.animate-fadeInUp {
  animation: fadeInUp 1s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-float1 {
  animation: float1 25s infinite ease-in-out alternate;
}

.animate-float2 {
  animation: float2 20s 2s infinite ease-in-out alternate;
}

.animate-float3 {
  animation: float3 15s 1s infinite ease-in-out alternate;
}

.animate-scroll-dot {
  animation: scroll-dot 2s infinite;
}

/* Radial gradient utilities */
.bg-gradient-radial {
  background-image: radial-gradient(circle at center, var(--tw-gradient-stops));
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent;
}
